## Preprocessing

In [92]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [93]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [94]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [95]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [96]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T4", "T6", "T5", "T19", "T8", "T7", "T10", "T9", "T13", "T12", "T2",
                                "T25", "T14", "T29", "T15",
                                "T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     7262
Name: APPLICATION_TYPE, dtype: int64

In [97]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [98]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x: x > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [100]:
# i didn't want to type all the classifications out
application_df['CLASSIFICATION'].value_counts().loc[lambda x: x < 10000].index

Index(['C2000', 'C1200', 'C3000', 'C2100', 'C7000', 'C1700', 'C4000', 'C5000',
       'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400',
       'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000',
       'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400',
       'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200',
       'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200',
       'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570',
       'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728',
       'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150'],
      dtype='object')

In [101]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C2000', 'C1200', 'C3000', 'C2100', 'C7000', 'C1700', 'C4000', 'C5000',
       'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400',
       'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000',
       'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400',
       'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200',
       'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200',
       'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570',
       'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728',
       'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
Other    16973
Name: CLASSIFICATION, dtype: int64

In [102]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,Other,Preservation,Co-operative,1,1-9999,N,108590,1
2,Other,CompanySponsored,Other,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,Other,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [103]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [104]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies_df = pd.get_dummies(application_df)
application_dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T3,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [105]:
application_dummies_df.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T3', 'AFFILIATION_CompanySponsored',
       'AFFILIATION_Family/Parent', 'AFFILIATION_Independent',
       'AFFILIATION_National', 'AFFILIATION_Other', 'AFFILIATION_Regional',
       'CLASSIFICATION_C1000', 'CLASSIFICATION_Other',
       'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other',
       'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [106]:
#application_dummies_df.drop(columns='IS_SUCCESSFUL')
application_dummies_df["IS_SUCCESSFUL"]

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [107]:
# Split our preprocessed data into our features and target arrays
X = application_dummies_df.drop(columns='IS_SUCCESSFUL').values
y = application_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=24, stratify=y)

In [108]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [109]:
X.shape[1]

32

In [110]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = 500, activation='relu', input_dim = X.shape[1]))

nn.add(tf.keras.layers.Dense(units = 200, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = 100, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_19"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_113 (Dense)           (None, 500)               16500

 dense_114 (Dense)           (None, 200)               100200

 dense_115 (Dense)           (None, 100)               20100

 dense_116 (Dense)           (None, 1)                 101

=================================================================
Total params: 136901 (534.77 KB)
Trainable params: 136901 (534.77 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [111]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

# As usual, the readme and the notebook file have discrepancies...
#...the readme had the added step of creating a model callback so I do that here
model_callback = tf.keras.callbacks.ModelCheckpoint(filepath="weights.hdf5",
                                                    monitor="loss",
                                                    save_weights_only=True,
                                                    save_freq=5)

In [112]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, callbacks=[model_callback])

Epoch 1/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6009 - accuracy: 0.6995
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5943 - accuracy: 0.7061
Epoch 3/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5920 - accuracy: 0.7086
Epoch 4/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5905 - accuracy: 0.7091
Epoch 5/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5891 - accuracy: 0.7101
Epoch 6/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5886 - accuracy: 0.7114
Epoch 7/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5885 - accuracy: 0.7109
Epoch 8/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5876 - accuracy: 0.7113
Epoch 9/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5873 - accuracy: 0.7109
Epoch 10/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5867 - accuracy: 0.7125
Epoch 11/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5863 - accuracy: 0.7119
Epoch 12/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5859 - accuracy: 0.7126
Epoch 13/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5857 - accuracy: 0.7124
Epoch 14/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5855 - accuracy: 0.7133
Epoch 15/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5850 - accuracy: 0.7126
Epoch 16/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5851 - accuracy: 0.7124
Epoch 17/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5850 - accuracy: 0.7133
Epoch 18/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5845 - accuracy: 0.7128
Epoch 19/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5848 - accuracy: 0.7122
Epoch 20/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5844 - accuracy: 0.7133
Epoch 21/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5837 - accuracy: 0.7132
Epoch 22/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5836 - accuracy: 0.7138
Epoch 23/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5839 - accuracy: 0.7133
Epoch 24/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5836 - accuracy: 0.7137
Epoch 25/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5835 - accuracy: 0.7138
Epoch 26/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5834 - accuracy: 0.7136
Epoch 27/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5833 - accuracy: 0.7139
Epoch 28/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5832 - accuracy: 0.7137
Epoch 29/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5829 - accuracy: 0.7140
Epoch 30/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5835 - accuracy: 0.7142
Epoch 31/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5827 - accuracy: 0.7136
Epoch 32/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5827 - accuracy: 0.7137
Epoch 33/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5826 - accuracy: 0.7137
Epoch 34/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5830 - accuracy: 0.7139
Epoch 35/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5822 - accuracy: 0.7143
Epoch 36/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5828 - accuracy: 0.7138
Epoch 37/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5824 - accuracy: 0.7140
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5820 - accuracy: 0.7143
Epoch 39/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5821 - accuracy: 0.7140
Epoch 40/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5816 - accuracy: 0.7147
Epoch 41/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5824 - accuracy: 0.7143
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5817 - accuracy: 0.7148
Epoch 43/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5817 - accuracy: 0.7138
Epoch 44/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5816 - accuracy: 0.7144
Epoch 45/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5812 - accuracy: 0.7143
Epoch 46/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5815 - accuracy: 0.7145
Epoch 47/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5821 - accuracy: 0.7140
Epoch 48/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5813 - accuracy: 0.7141
Epoch 49/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5814 - accuracy: 0.7144
Epoch 50/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5811 - accuracy: 0.7143

In [35]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5817 - accuracy: 0.7210 - 360ms/epoch - 1ms/step
Loss: 0.5817055702209473, Accuracy: 0.7210495471954346

In [75]:
# Export our model to HDF5 file
filepath = "./firstModel.hdf5"
nn.save(filepath, save_format='hdf5')

## V2

In [134]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()
nn.add(tf.keras.layers.Dense(units = 100, activation='tanh', input_dim = X.shape[1]))
nn.add(tf.keras.layers.Dense(units = 50, activation='tanh'))
nn.add(tf.keras.layers.Dense(units = 45, activation='tanh'))
nn.add(tf.keras.layers.Dense(units = 30, activation='tanh'))
nn.add(tf.keras.layers.Dense(units = 25, activation='tanh'))
nn.add(tf.keras.layers.Dense(units = 30, activation='tanh'))
nn.add(tf.keras.layers.Dense(units = 45, activation='tanh'))
nn.add(tf.keras.layers.Dense(units = 50, activation='tanh'))
nn.add(tf.keras.layers.Dense(units = 50, activation='tanh'))
nn.add(tf.keras.layers.Dense(units = 30, activation='tanh'))
nn.add(tf.keras.layers.Dense(units = 25, activation='tanh'))
nn.add(tf.keras.layers.Dense(units = 30, activation='tanh'))
nn.add(tf.keras.layers.Dense(units = 45, activation='tanh'))
nn.add(tf.keras.layers.Dense(units = 50, activation='tanh'))
nn.add(tf.keras.layers.Dense(units = 50, activation='tanh'))
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_27"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_167 (Dense)           (None, 100)               3300

 dense_168 (Dense)           (None, 50)                5050

 dense_169 (Dense)           (None, 45)                2295

 dense_170 (Dense)           (None, 30)                1380

 dense_171 (Dense)           (None, 25)                775

 dense_172 (Dense)           (None, 30)                780

 dense_173 (Dense)           (None, 45)                1395

 dense_174 (Dense)           (None, 50)                2300

 dense_175 (Dense)           (None, 50)                2550

 dense_176 (Dense)           (None, 30)                1530

 dense_177 (Dense)           (None, 25)                775

 dense_178 (Dense)           (None, 30)                780

 dense_179 (Dense)           (None, 45)                1395

 dense_180 (Dense)           (None, 50)                2300

 dense_181 (Dense)           (None, 50)                2550

 dense_182 (Dense)           (None, 1)                 51

=================================================================
Total params: 29206 (114.09 KB)
Trainable params: 29206 (114.09 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [135]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

# As usual, the readme and the notebook file have discrepancies...
#...the readme had the added step of creating a model callback so I do that here
model_callback = tf.keras.callbacks.ModelCheckpoint(filepath="weights.hdf5",
                                                    monitor="loss",
                                                    save_weights_only=True,
                                                    save_freq=5)

In [136]:
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, callbacks=[model_callback])

Epoch 1/50
804/804 [==============================] - 6s 6ms/step - loss: 0.6036 - accuracy: 0.6976
Epoch 2/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5955 - accuracy: 0.7035
Epoch 3/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5942 - accuracy: 0.7029
Epoch 4/50
804/804 [==============================] - 4s 6ms/step - loss: 0.5931 - accuracy: 0.7039
Epoch 5/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5926 - accuracy: 0.7065
Epoch 6/50
804/804 [==============================] - 4s 6ms/step - loss: 0.5992 - accuracy: 0.6997
Epoch 7/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5949 - accuracy: 0.7008
Epoch 8/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5956 - accuracy: 0.7047
Epoch 9/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5937 - accuracy: 0.7041
Epoch 10/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6045 - accuracy: 0.6939
Epoch 11/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6001 - accuracy: 0.7031
Epoch 12/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5996 - accuracy: 0.7035
Epoch 13/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6024 - accuracy: 0.7017
Epoch 14/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5992 - accuracy: 0.7007
Epoch 15/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5939 - accuracy: 0.7074
Epoch 16/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5942 - accuracy: 0.7061
Epoch 17/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5964 - accuracy: 0.7049
Epoch 18/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5976 - accuracy: 0.7000
Epoch 19/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5990 - accuracy: 0.6988
Epoch 20/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6086 - accuracy: 0.6897
Epoch 21/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6013 - accuracy: 0.6978
Epoch 22/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6008 - accuracy: 0.6971
Epoch 23/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5997 - accuracy: 0.6995
Epoch 24/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5993 - accuracy: 0.7010
Epoch 25/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6015 - accuracy: 0.7032
Epoch 26/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6069 - accuracy: 0.7035
Epoch 27/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6149 - accuracy: 0.6834
Epoch 28/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6198 - accuracy: 0.6772
Epoch 29/50
804/804 [==============================] - 4s 6ms/step - loss: 0.6199 - accuracy: 0.6780
Epoch 30/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6198 - accuracy: 0.6770
Epoch 31/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6197 - accuracy: 0.6767
Epoch 32/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6197 - accuracy: 0.6774
Epoch 33/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6195 - accuracy: 0.6778
Epoch 34/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6194 - accuracy: 0.6771
Epoch 35/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6193 - accuracy: 0.6767
Epoch 36/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6193 - accuracy: 0.6775
Epoch 37/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6192 - accuracy: 0.6787
Epoch 38/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6193 - accuracy: 0.6771
Epoch 39/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6194 - accuracy: 0.6783
Epoch 40/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6193 - accuracy: 0.6770
Epoch 41/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6192 - accuracy: 0.6786
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6130 - accuracy: 0.6961
Epoch 43/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6118 - accuracy: 0.6980
Epoch 44/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6120 - accuracy: 0.6980
Epoch 45/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6119 - accuracy: 0.6980
Epoch 46/50
804/804 [==============================] - 4s 6ms/step - loss: 0.6119 - accuracy: 0.6980
Epoch 47/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6119 - accuracy: 0.6980
Epoch 48/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6118 - accuracy: 0.6980
Epoch 49/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6119 - accuracy: 0.6980
Epoch 50/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6119 - accuracy: 0.6980

In [72]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5682 - accuracy: 0.7208 - 331ms/epoch - 1ms/step
Loss: 0.5682095289230347, Accuracy: 0.7208163142204285

# v3

In [130]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()
nn.add(tf.keras.layers.Dense(units = 30, activation='relu', input_dim = X.shape[1]))
nn.add(tf.keras.layers.Dense(units = 40, activation='relu'))
nn.add(tf.keras.layers.Dense(units = 50, activation='relu'))
nn.add(tf.keras.layers.Dense(units = 80, activation='relu'))
nn.add(tf.keras.layers.Dense(units = 50, activation='relu'))
nn.add(tf.keras.layers.Dense(units = 20, activation='relu'))
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_26"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_160 (Dense)           (None, 30)                990

 dense_161 (Dense)           (None, 40)                1240

 dense_162 (Dense)           (None, 50)                2050

 dense_163 (Dense)           (None, 80)                4080

 dense_164 (Dense)           (None, 50)                4050

 dense_165 (Dense)           (None, 20)                1020

 dense_166 (Dense)           (None, 1)                 21

=================================================================
Total params: 13451 (52.54 KB)
Trainable params: 13451 (52.54 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [131]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

# As usual, the readme and the notebook file have discrepancies...
#...the readme had the added step of creating a model callback so I do that here
model_callback = tf.keras.callbacks.ModelCheckpoint(filepath="weights.hdf5",
                                                    monitor="loss",
                                                    save_weights_only=True,
                                                    save_freq=5)

In [132]:
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, callbacks=[model_callback])

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6037 - accuracy: 0.6936
Epoch 2/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5925 - accuracy: 0.7070
Epoch 3/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5906 - accuracy: 0.7076
Epoch 4/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5888 - accuracy: 0.7076
Epoch 5/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5885 - accuracy: 0.7104
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5875 - accuracy: 0.7096
Epoch 7/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5868 - accuracy: 0.7107
Epoch 8/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5867 - accuracy: 0.7111
Epoch 9/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5864 - accuracy: 0.7104
Epoch 10/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5856 - accuracy: 0.7119
Epoch 11/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5859 - accuracy: 0.7112
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5855 - accuracy: 0.7136
Epoch 13/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5853 - accuracy: 0.7129
Epoch 14/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5847 - accuracy: 0.7115
Epoch 15/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5846 - accuracy: 0.7132
Epoch 16/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5841 - accuracy: 0.7127
Epoch 17/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5846 - accuracy: 0.7125
Epoch 18/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5843 - accuracy: 0.7130
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5842 - accuracy: 0.7127
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5839 - accuracy: 0.7124
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5839 - accuracy: 0.7133
Epoch 22/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5838 - accuracy: 0.7137
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5834 - accuracy: 0.7127
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5832 - accuracy: 0.7128
Epoch 25/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5841 - accuracy: 0.7126
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5829 - accuracy: 0.7137
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5834 - accuracy: 0.7130
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5828 - accuracy: 0.7137
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5827 - accuracy: 0.7137
Epoch 30/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5823 - accuracy: 0.7137
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5830 - accuracy: 0.7129
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5828 - accuracy: 0.7132
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5822 - accuracy: 0.7138
Epoch 34/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5825 - accuracy: 0.7139
Epoch 35/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5819 - accuracy: 0.7136
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5822 - accuracy: 0.7138
Epoch 37/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5822 - accuracy: 0.7132
Epoch 38/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5826 - accuracy: 0.7134
Epoch 39/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5819 - accuracy: 0.7140
Epoch 40/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5821 - accuracy: 0.7137
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5821 - accuracy: 0.7138
Epoch 42/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5821 - accuracy: 0.7130
Epoch 43/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5817 - accuracy: 0.7142
Epoch 44/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5818 - accuracy: 0.7135
Epoch 45/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5822 - accuracy: 0.7135
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5816 - accuracy: 0.7141
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5815 - accuracy: 0.7141
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5815 - accuracy: 0.7137
Epoch 49/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5814 - accuracy: 0.7137
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5813 - accuracy: 0.7139

In [133]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6022 - accuracy: 0.6968 - 375ms/epoch - 1ms/step
Loss: 0.6021869778633118, Accuracy: 0.6967930197715759

In [ ]:
# Export our model to HDF5 file
filepath = "./optimized_model.hdf5"
nn.save(filepath, save_format='hdf5')